@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thank-you {
  /*display: none; */
}

body {
  background-color: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
}

body main section .container,
.thank-you h3 {
  font-weight: 400;
  font-size: 1rem;
}

.container {
  background-color: hsl(213, 19%, 18%);
}

.container h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.container p {
  color: hsl(217, 12%, 63%);
}

.container .btn-rating {
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 54%);
}

.container button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.thank-you h3 {
  color: hsl(25, 97%, 53%);
}